<p>Dear {{name}},</p>
<p>You requested for a password reset. Click the link below to reset your password:</p>
<p><a href="{{url}}/reset-password?token={{token}}">Reset Password</a></p>
<p>This link will expire on {{expiresAt}}.</p>
<p>If you did not request this, please ignore this email.</p>